/* This is css stylesheet for personalWebsite */
html
{
	background: url('/image/clean-white-polygon-backgrounds-8.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
		   -moz-background-size: cover; 
		   -o-background-size: cover;
}

body 
{
	text-align: center;
	padding-top: 20px;
	background-color: rgba(255, 0, 0, 0);
}
		
.jumbotron 
{
    padding-top: 20px;
    padding-bottom: 20px;
    background-image: url('/image/black-leather-texture.jpg');
    background-size: cover;
}

a
{
	font-family: Montserrat;
	color: #FF6600;
}

a:hover
{
	color: #CC3333;
	text-decoration: none;
}

h1
{
	font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6
{
	font-family: Montserrat;
}

p
{
	font-family: Verdana;
}

		
.navigation
{
	color: #FF6600;
}

.navigation:hover
{
	color: #CC3333;
	text-decoration: none;
}


.btn-primary {
    background: #FF6600;
    border: #FF6600;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:active:focus
{
  background-color: #CC3333;
  border-color: #CC3333;
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}


ul,li 
{ 
	list-style-type: none;
    list-style-position: inside;
    margin: 0;
    padding: 0; 
}

.thumbnail img
{
	height: 50px;
	overflow: auto;
	margin: 0;
}

.icon
{
	padding-right: 20px;
}