/* This is css stylesheet for personalWebsite */
html
{
	background: url('/image/clean-white-polygon-backgrounds-8.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover; 
	-o-background-size: cover;
}


body 
{
	text-align: center;
	padding-top: 20px;
	background-color: rgba(255, 0, 0, 0);
}
		
.jumbotron 
{
    padding-top: 20px;
    padding-bottom: 20px;
    background-image: url('/image/black-leather-texture.jpg');
}

title
{
	font-family: Tahoma;
}

td
{
  padding:0 35px 0 35px;
}

h1
{
	color: #ff0000;
	font-family: Tahoma;
	font-weight: bold;
}

h3
{
	font-family: Tahoma
}

p
{
	font-family: Verdana;
}

p.index
{
	color: #ffd9d9;
	font-size: 17px;
}
		
.log-in-form 
{
  border: 30px solid #ff0000;
  padding: 10rem;
  border-radius: 20px; 
}

form 
{
	text-align: center;
}