<!DOCTYPE html>
<html layout:decorator="layout">

<head>
<title>Phat Tran | Be Water</title>
</head>

<body>
	<div layout:fragment="content">
		<div class="row">
			<div class="col-sm-2"></div>
			<div class="col-sm-3 portrait">
				<img src="/image/self.jpg" class="img-circle" width="236"
				height="236"></img>
			</div>
			<div class="col-sm-5 description-aboutme">
				<p>His name is Phat Tran, a dedicated learner 
				with an insatiable hunger for knowledge, and food :D.</p>
				<p>He loves experiencing growth, and will do whatever it takes to 
				stretch himself beyond his comfort zone.</p>
				<p>If you have an idea that you want to discuss, 
				or just want to reach out and play some basketball, 
				(why? because a coffee meet-up is basic and over-used), 
				you can contact him through the following social means:</p>
				<p></p>
				<a class="icon" href="mailto:phatdtran3k6@gmail.com">
				<i class="fa fa-envelope-o fa-3x"></i>
				</a> 
				
				<a class="icon" href="https://ca.linkedin.com/in/phatdaitran">
				<i class="fa fa-linkedin-square fa-3x"></i>
				</a> 
				
				<a class="icon" href="https://www.facebook.com/DaiPhatTraan">
				<i class="fa fa-facebook fa-3x"></i>
				</a> 
				
				<a class="icon" href="https://github.com/pdtran3k6">
				<i class="fa fa-github fa-3x"></i>
				</a>
				
				<a class="icon" href="/phatTranResume.pdf">
				<i class="fa fa-product-hunt fa-3x"></i>
				</a>
			</div>
			<div class="col-sm-2"></div>
		</div>
	</div>
</body>

</html>