<!DOCTYPE html>
<html layout:decorator="layout">

<head>
<title>About Me</title>
</head>

<body>


	<div layout:fragment="content">
		<div class="container" style="padding-top: 30px">

			<img src="/image/self.jpg" class="img-circle" width="236"
				height="236"></img>
			<p style="padding-top: 30px">I'm Phat Tran, a dedicated learner with an insatiable hunger, metaphorically and literally. If you have
				an offer, opportunity, or just want to reach out and play some
				basketball (why? because a coffee meet-up is basic and over-rated),
				you can contact me through the following social means:</p>
			<a class="icon" href="mailto:phatdtran3k6@gmail.com"><i
				class="fa fa-envelope-o fa-3x"></i></a> <a class="icon"
				href="https://ca.linkedin.com/in/phatdaitran"><i
				class="fa fa-linkedin-square fa-3x"></i></a> <a class="icon"
				href="https://www.facebook.com/DaiPhatTraan"><i
				class="fa fa-facebook fa-3x"></i></a> <a class="icon"
				href="https://github.com/pdtran3k6"><i
				class="fa fa-github fa-3x"></i></a>

			<h4 style="padding-top: 30px">
				<b>MY RESUME</b>
			</h4>
			<a href="/phatTranResume.pdf"><i class="fa fa-product-hunt fa-3x"></i></a>
		</div>

	</div>
</body>

</html>