<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    
    <head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"/>
		<link rel="stylesheet" href="css/style.css"/>
		<title>About Me</title>
	</head>
	<body>
		<div class="jumbotron">
		  <div class="row">
			<div class="col-md-4"><h3><a th:href="@{/}">HOME</a></h3></div>
			<div class="col-md-4"><h3><a th:href="@{/articles}">ARTICLES</a></h3></div>
			<div class="col-md-4"><h3><a th:href="@{/projects}">PROJECTS</a></h3></div>
		  </div>
		</div>
			
		<div class="container" style="padding-top: 30px">
			  <p>I'm Phat Tran, an aspiring engineer with an insatiable hunger, metaphorically and literally. If you have an offer, opportunity, 
			  or just want to reach out and play some basketball (why? because a coffee meet-up is basic and over-rated), you can e-mail me at 
			  <a href="mailto:phatdtran3k6@gmail.com"><b>phatdtran3k6@gmail.com</b></a></p>
			  <a href="https://ca.linkedin.com/in/phatdaitran">LinkedIn</a>
			  <a href="https://www.facebook.com/DaiPhatTraan"><del>Facebook</del></a>
			  <a href="/phatTranResume.pdf">Resume</a>
			  <p><a th:href="@{/articles/why-i-no-longer-have-fb}">(Why I no longer have a Facebook account)</a></p>
			  
		</div>
			
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	</body>
	
</html>