<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    
    <head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"/>
		<link rel="stylesheet" href="css/style.css"/>
		<title>Phat Tran | Be Water</title>
	</head>
	<body>
	<div class="jumbotron">
		<div class="row">
		  <div class="col-md-4"><h3><a class="navigation" th:href="@{/projects}">PROJECTS</a></h3></div>
		  <div class="col-md-4"><h3><a class="navigation" th:href="@{/aboutme}">ABOUT ME</a></h3></div>
		  <div class="col-md-4"><h3><a class="navigation" th:href="@{/articles}">ARTICLES</a></h3></div>
		</div>
	</div>
		
	<div style="padding-top: 30px">
		<p>Site is under construction!</p>
	</div>
	
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	</body>
	
</html>