<!DOCTYPE html>
<html layout:decorator="layout">

<head>
<title>List Reconciliation System</title>
</head>

<body>
	<div layout:fragment="content">
		<div class="nav-bar-2">
			<a class="back-button" th:href="@{/projects}">
				<span class="glyphicon glyphicon-chevron-left"></span>BACK
			</a>
		</div>
		
		<div class="row">
			<div class="col-sm-2"></div>
			<div class="col-sm-8 project-title">
				<h2>List Reconciliation System</h2>
			</div>
			<div class="col-sm-2"></div>
		</div>
		
			<div class="row">
				<div class="col-sm-2"></div>
				<div class="col-sm-3">
					<img src="/image/projects/listMatching.jpg" 
					class="img-rounded" width="315px" height="auto"></img>
				</div>
				<div class="col-sm-5 description" id="project">
					<p><b>Material:</b> N/A</p>
					
					<p><b>Language used:</b> ksh and bash</p>
			
					<p><b>Purposes:</b> to extract hosts' names from master servers and generate a master table 
					consisting of hosts from all master servers.</p>
					<p>The set of scripts also produces additional inventory reports 
					to serve system administrators and software developers.</p>
					<p> All tables and reports are displayed online on a virtual machine using Apache</p>
				</div>
				<div class="col-sm-2"></div>
			</div>
		</div>
</body>

</html>