<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    
    <head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"/>
		<link rel="stylesheet" href="css/style.css"/>
		<title>Projects</title>
	</head>
	
	
	<body>
		<div class="jumbotron">
			<div class="row">
			  <div class="col-sm-4"><h3><a class="navigation" th:href="@{/}">HOME</a></h3></div>
			  <div class="col-sm-4"><h3><a class="navigation" th:href="@{/aboutme}">ABOUT ME</a></h3></div>
			  <div class="col-sm-4"><h3><a class="navigation" th:href="@{/articles}">ARTICLES</a></h3></div>
			</div>
		</div>
		
		<h1>My Projects</h1>
		
		<div style="padding-top: 30px">
		  <div class="row">
		  	<ul>
		  	  <li class="thumbnail col-md-4 col-sm-3 col-xs-6"><a href="#legosaltspreader" data-toggle="modal"><img src="/image/projects/legoSaltSpreader.jpg"></img></a></li>
			  <li class="thumbnail col-md-4 col-sm-3 col-xs-6"><a href="#battery" data-toggle="modal"><img src="/image/projects/battery.jpg"></img></a></li>
			  <li class="thumbnail col-md-4 col-sm-3 col-xs-6"><a href="#listmatching" data-toggle="modal"><img src="/image/projects/listMatching.jpg"></img></a></li>
			</ul>
		  </div>
		</div>
		
			
			
		<div>
		  <a href="https://github.com/pdtran3k6"><b>See my github!</b></a>
		</div>
		
		<div id="legosaltspreader" class="modal fade" tabindex="-1">
          <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header">
                        <button type="button" class="close glyphicon glyphicon-remove" data-dismiss="modal"></button>
                        <h3 class="modal-title">Lego Salt Spreader</h3>
                  </div>
                  <div class="modal-body">
                    <p><img src="/image/projects/legoSaltSpreader.jpg" class="img-responsive pull-left"></img>
                    This can spread run around and spread salts like crazy! :D</p>
                  </div>
                  <div class="modal-footer">
                    <button class="btn btn-primary" data-dismiss="modal">Close</button>
                  </div>
              </div>
          </div>
        </div>
        
        <div id="battery" class="modal fade" tabindex="-1">
          <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header">
                        <button type="button" class="close glyphicon glyphicon-remove" data-dismiss="modal"></button>
                        <h3 class="modal-title">Smart Battery Charging System</h3>
                  </div>
                  <div class="modal-body">
                    <p><img src="/image/projects/battery.jpg" class="img-responsive pull-left"></img>
                    This can stop the current when the battery is full</p>
                  </div>
                  <div class="modal-footer">
                    <button class="btn btn-primary" data-dismiss="modal">Close</button>
                  </div>
              </div>
          </div>
        </div>
        
        <div id="listmatching" class="modal fade" tabindex="-1">
          <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header">
                        <button type="button" class="close glyphicon glyphicon-remove" data-dismiss="modal"></button>
                        <h3 class="modal-title">List Reconciliation</h3>
                  </div>
                  <div class="modal-body">
                    <p><img src="/image/projects/listMatching.jpg" class="img-responsive pull-left"></img>
                    This can reconcile a bunch of lists into a master list and compare each individual lists to the master</p>
                  </div>
                  <div class="modal-footer">
                    <button class="btn btn-primary" data-dismiss="modal">Close</button>
                  </div>
              </div>
          </div>
        </div>
			
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	</body>
	
</html>