<!DOCTYPE html>
<html layout:decorator="layout">

<head>
<title>My Projects</title>
</head>

<body>
	<div layout:fragment="content">
		<h1 class="my-project-header">MY PROJECTS</h1>
		<div id="projectsPanel">
			<div class="row">
				<div class="col-sm-4 col-xs-12 portfolio-item">
					<a th:href="@{/projects-legoSaltSpreader}"> 
						<img class="img-responsive" 
						src="/image/projects/legoSaltSpreader.jpg"></img>
					</a>
				</div>

				<div class="col-sm-4 col-xs-12 porfolio-item">
					<a th:href="@{/projects-smartBatteryCharger}"> 
						<img class="img-responsive" 
						src="/image/projects/battery.jpg"></img>
					</a>
				</div>

				<div class="col-sm-4 col-xs-12 portfolio-item">
					<a th:href="@{/projects-listMatching}"> 
						<img class="img-responsive" 
						src="/image/projects/listMatching.jpg"></img>
					</a>
				</div>
			</div>
		</div>
	</div>
</body>

</html>