<!DOCTYPE html>
<html layout:decorator="layout">

<head>
<title>Smart Battery Charging System</title>
</head>

<body>
	<div layout:fragment="content">
		<div class="nav-bar-2">
			<a class="back-button" th:href="@{/projects}">
				<span class="glyphicon glyphicon-chevron-left"></span>BACK
			</a>
		</div>
		
		<div class="row">
			<div class="col-sm-2"></div>
			<div class="col-sm-8 project-title">
				<h2>Smart Battery Charging System</h2>
			</div>
			<div class="col-sm-2"></div>
		</div>
		
			<div class="row">
				<div class="col-sm-2"></div>
				<div class="col-sm-3">
					<img src="/image/projects/battery (ORG).jpg" 
					class="img-rounded" width="315px" height="auto"></img>
				</div>
				<div class="col-sm-5 description" id="project">
					<p><b>Material:</b> Raspberry Pi &reg;, 2 outlets, 
					electronic switch, physical switch, breadboard, 
					adapters, logic wires, Micro USB cable</p>
					
					<p><b>Language used:</b> C#</p>
			
					<p><b>Purposes:</b> to automatically charge a mobile device when the battery reaches
					a certain threshold.</p>
					
				</div>
				<div class="col-sm-2"></div>
			</div>
		</div>
</body>

</html>