<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    
    <head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"/>
		<link rel="stylesheet" href="css/style.css"/>
		<title>Projects</title>
	</head>
	
	
	<body>
		<div class="jumbotron">
			<div class="row">
			  <div class="col-md-4"><h3 style="font-family: Tahoma"><a th:href="@{/home}">HOME</a></h3></div>
			  <div class="col-md-4"><h3 style="font-family: Tahoma"><a th:href="@{/aboutme}">ABOUT ME</a></h3></div>
			  <div class="col-md-4"><h3 style="font-family: Tahoma"><a th:href="@{/contact}">CONTACT</a></h3></div>
			</div>
		</div>
		
			<div style="padding-top: 30px">
				<div class="row">
				  <div class="col-md-4"><h2>Lego Snow Plower</h2></div>
				  <div class="col-md-4"><h2>Battery Charging System</h2></div>
				  <div class="col-md-4"><h2>List Reconcilation</h2></div>
				</div>
			</div>
			
			
			<div style="padding-top: 30px">
				<a style="font-family: Tahoma" href="https://github.com/pdtran3k6">See my github!</a>
			</div>
			
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	</body>
	
</html>