<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    
    <head>
	
		<link type="text/css" rel="stylesheet" href="stylesheet.css"/>
		<title>About me</title>
		
	</head>
	
	
	<body style="text-align: center">
			<p style="font-family: Courier New">If you're on the journey to become an 'Essentialist' or 
			just want to reach out and shoot some hoops, reach me at: </p>
			<a style="font-family: Impact" href="https://ca.linkedin.com/in/phatdaitran">LinkedIn</a>
			<a style="font-family: Impact" href="https://www.facebook.com/DaiPhatTraan">Facebook</a>
			
			
			
			
			<h1 style="font-family: Tahoma"><a th:href="@{/projects}">PROJECTS</a></h1>
		
			<h1 style="font-family: Tahoma"><a th:href="@{/aboutme}">ABOUT ME</a></h1>
			
		
			<a th:href="@{/home}">Home</a>	
	</body>
	
</html>