<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    
    <head>
	
		<link type="text/css" rel="stylesheet" href="stylesheet.css"/>
		<title>Phat Tran | Be Water</title>
		
	</head>
	
	
	
	
	
	
	<body style="text-align: center">
		
		
		<h1 style="font-family: Tahoma">PROJECTS</h1>
			<a style="font-family: Impact" href="https://github.com/pdtran3k6">See my github!</a>
		
		
		
		
		
		
		
		<h1 style="font-family: Tahoma">ABOUT ME</h1>
			<p style="font-family: Courier New">I'm Phat Tran, an aspiring engineer with an insatiable hunger, metaphorically and literally. </p>
			<a style="font-family: Impact" href=INSERT_RESUME_LINK_HERE>RESUME</a>
			
			
			
			
			
			
		
		<h1 style="font-family: Tahoma">CONTACT</h1>
			<p style="font-family: Courier New">If you're on the journey to become an 'Essentialist' or just want to reach out and shoot some hoops, reach me at: </p>
			<a style="font-family: Impact" href="https://ca.linkedin.com/in/phatdaitran">LinkedIn</a>
			<a style="font-family: Impact" href="https://www.facebook.com/DaiPhatTraan">Facebook</p>
			
			
			
			
			
		
		
	</body>
	
</html>