<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    
    <head>
	
		<link type="text/css" rel="stylesheet" href="stylesheet.css"/>
		<title>Phat Tran | Be Water</title>
		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"/>
		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous"/>

		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
		
	</head>
	
	
	
	
	
	<body style="text-align: center">
	
		<div class="row">
		  <div class="col-md-4"><h1 style="font-family: Tahoma"><a th:href="@{/projects}">PROJECTS</a></h1></div>
		  <div class="col-md-4"><h1 style="font-family: Tahoma"><a th:href="@{/aboutme}">ABOUT ME</a></h1></div>
		  <div class="col-md-4"><h1 style="font-family: Tahoma"><a th:href="@{/contact}">CONTACT</a></h1></div>
		</div>
		
		
		
		
		
		
		
		
		
		
			
			
			
			
			
			
			
		
		
			
			
			
			
			
		
		
		
	</body>
	
</html>