<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    
    <head>
	
		<link type="text/css" rel="stylesheet" href="stylesheet.css"/>
		<title>Phat Tran | Be Water</title>
		
	</head>
	
	
	
	
	
	<body style="text-align: center">
		
		<h1 style="font-family: Tahoma"><a th:href="@{/projects}">PROJECTS</a></h1>
		
		
		
		
		
		
		
		<h1 style="font-family: Tahoma"><a th:href="@{/aboutme}">ABOUT ME</a></h1>
			
			
			
			
			
			
			
		
		<h1 style="font-family: Tahoma"><a th:href="@{/contact}">CONTACT</a></h1>
			
			
			
			
			
		
		
		
	</body>
	
</html>