<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    
    <head>
	
		<link type="text/css" rel="stylesheet" href="stylesheet.css"/>
		<title>Projects</title>
		
	</head>
	
	
	<body style="text-align: center">
			<a style="font-family: Impact" href="https://github.com/pdtran3k6">See my github!</a>
		
				<h2>Lego Snow Plower</h2>
				
				<h2>Battery Charging System</h2>
				
				<h2>List Reconcilation from Multiple Sources</h2>			
				
			<h1 style="font-family: Tahoma"><a th:href="@{/aboutme}">ABOUT ME</a></h1>
			
			
		
			<h1 style="font-family: Tahoma"><a th:href="@{/contact}">CONTACT</a></h1>
			
			
			<a th:href="@{/home}">Home</a>	
		
	</body>
	
</html>